
<div th:fragment="content">


    <a href="company/create">create</a>
    <h1>Liste des companies</h1>
    <a class="btn btn-primary" href="/company/tri/client">client</a>
    <a class="btn btn-primary" href="/company/tri/provider">provider</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
            <th scope="col">VAT number</th>
            <th scope="col">associated invoices</th>
            <th scope="col">contact</th>
            <th scope="col">actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companies}">
            <th scope="row"></th>
            <td th:text="${company.companyName}"></td>
            <td th:text="${company.getCompanyCountry()}"></td>
            <td th:text="${company.getCompanyVat()}"></td>
            <td>/</td>
            <td>/</td>
            <th:block th:if="${#session.getAttribute('role') == 'admin' || #session.getAttribute('role') == 'accountant' }">
                <td>
                    <a th:href="'/contacts/modify/' + ${company.id}">modifier</a>
                    <a th:href="'/contacts/delete/' + ${company.id}">supprimer</a>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>

