<div th:fragment="content">
<h1 th:text="${message}">Welcome to our Spring Boot App!</h1>
<form method="POST" action="/users/insert">

    <label for="formGroupExampleInput" class="form-label">le noml</label>
    <input type="text" class="form-control" name="name" id="formGroupExampleInput" placeholder="Example input placeholder">

    <label>votre mot de passe </label>
    <input type="password" name="password">
    <input type="hidden" name="role" value="intern">
    <input type="submit" value="valider">
</form>
</div>
